HOST=0.0.0.0
PORT=3101
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=diver
DB_PASSWORD=divepassword
DB_NAME=diving_db
REDIS_HOST=127.0.0.1
REDIS_PORT=6380
WORKER_URL=http://127.0.0.1:8180
COMPUTE_SERVICE_URL=http://127.0.0.1:5101
DEV_HOST_IP=127.0.0.1
